@{
    string cdn = ConfigurationManager.AppSettings["CDNPath"];
    string relativeDirectory = ViewBag.Path;
    int currentPage = ViewBag.Id;
    string filter = ViewBag.Filter;

    string baseSiteDirectory = ConfigurationManager.AppSettings["BaseDirectory"];
    Layout = "./_Layout.cshtml";
}

@using System.Configuration
@using System.Web.UI.WebControls

<input type="hidden" value="@baseSiteDirectory" data-site-base-directory autocomplete="off" />
<input type="hidden" value="@cdn" data-cdn-path autocomplete="off" />
<input type="hidden" value="@relativeDirectory" data-relative-directory autocomplete="off" />
<input type="hidden" value="@filter" data-filter autocomplete="off" />

<nav class="steppingstone_list" data-stepping-stones></nav>

@RenderSection("BeforeContent", false)

@RenderSection("MediaView")


<div class="button_wrapper" data-page-button-wrapper style="display: none">
    <div class="button_list" data-page-button-list></div>
    <div>
        <b data-current-page>@currentPage</b> of <span data-max-pages></span>
    </div>
    <div class="controls" data-controls>
        @RenderSection("Controls", false)
    </div>
</div>

@RenderBody()

@section scripts {

    @RenderSection("scripts", required: false)
}