@{
    ViewBag.Title = "Images";
    string baseDirectory = ConfigurationManager.AppSettings["ImagesPath"];
    string cdn = ConfigurationManager.AppSettings["CDNPath"];

    DirectoryInfo relativeDirectory = ViewBag.Directory;
    int currentPage = ViewBag.Page;
    string filter = ViewBag.Filter;
    string baseSiteDirectory = ConfigurationManager.AppSettings["BaseDirectory"];
    string path = relativeDirectory.FullName.Substring(baseSiteDirectory.Length + baseDirectory.Length + 1).Trim("\\/.".ToCharArray());
    int imagesPerPage = ViewBag.ImagesPerPage;
}

@using System.Configuration
@using ContentExplorer.Services
@model ContentExplorer.Models.ViewModels.DirectoryViewModel

@helper RenderSteppingStones(DirectoryInfo parentDirectory, string baseSiteDirectory, string imageDirectory, int page, string filter)
{


    if (parentDirectory.Parent != null && parentDirectory.Parent.FullName != baseSiteDirectory)
    {
        @RenderSteppingStones(parentDirectory.Parent, baseSiteDirectory, imageDirectory, page, filter)
    }
    <a class="steppingstone_item" href="@Url.Action("Index", new { path = parentDirectory.FullName.Substring(baseSiteDirectory.Length + imageDirectory.Length + 1), page = page, filter = filter })">@(parentDirectory.Name)</a>
}

@helper RenderDirectory(DirectoryInfo directory, string cdn, string baseDirectory, string path, string baseSiteDirectory)
{
    ImageThumbnailService videoThumbnailService = new ImageThumbnailService();
    FileInfo previewImage = videoThumbnailService.GetImageThumbnail(directory);

    string thumbnailPath;

    if (previewImage != null)
    {
        string relativeWebPath = previewImage.Directory.FullName.Substring(baseSiteDirectory.Length + baseDirectory.Length + 1).Trim("\\/.".ToCharArray());

        thumbnailPath = Path.Combine(cdn, baseDirectory, relativeWebPath, previewImage.Name).Replace("\\", "/");
    }
    else
    {
        thumbnailPath = "none";
    }


    // Replace characters which break css
    thumbnailPath = thumbnailPath.Replace("'", "%27");

    <li class="directory_item" style="background-image: url('@thumbnailPath'); background-size: cover; background-position: center center">
        <a href="@Url.Action("Index", new {path = Path.Combine(path, directory.Name)})" class="directory_link">
            <div class="directory_name">@directory.Name</div>
        </a>
    </li>
}

<nav class="steppingstone_list">
    @RenderSteppingStones(relativeDirectory, baseSiteDirectory, baseDirectory, currentPage, filter)
</nav>

<div class="sidebar">
    <h2>Filters</h2>

    @if (filter == "gif")
    {
        <a href="@Url.Action("Index", new { path = relativeDirectory, page = currentPage })">Animated Gifs: True</a>
    }
    else
    {
        <a href="@Url.Action("Index", new { path = relativeDirectory, page = currentPage, filter = "gif" })">Animated Gifs: False</a>
    }
</div>
<div class="content_sidebar">

    @if (Model.DirectoryInfos.Any())
    {
        <h1>Directories</h1>
        <ul class="directory_list">
            @foreach (DirectoryInfo directory in Model.DirectoryInfos)
            {
                @RenderDirectory(directory, cdn, baseDirectory, path, baseSiteDirectory)
            }
        </ul>
    }

    @if (Model.FileInfos.Any())
    {
        int imageNumber = (currentPage - 1) * imagesPerPage + 1;

        <h1>Images</h1>
        <ul class="image_list">

            @for (int imageIndex = 0; imageIndex < Model.FileInfos.Count; imageIndex++)
            {
                FileInfo image = Model.FileInfos.ElementAt(imageIndex);
                string thumbnailPath = Path.Combine(cdn, baseDirectory, path, image.Name).Replace("\\", "/");

                // Replace characters which break css
                thumbnailPath = thumbnailPath.Replace("'", "%27");

                string linkPath = Url.Action("View", new { path = path, page = imageNumber, filter = filter });

                <li class="image_item" style="background-image: url('@thumbnailPath'); background-size: cover">
                    <a href="@linkPath" target="_blank" class="image_link">
                        <div class="image_name">@image.Name</div>
                    </a>
                </li>

                imageNumber++;
            }
        </ul>
    }

    @if (Model.FileInfos.Any() == false && Model.DirectoryInfos.Any() == false)
    {
        <h1>No files found</h1>
    }

    @{
        int maxPages = Model.FileCount / imagesPerPage;
    }

    @if (maxPages > 1)
    {
        <div class="button_wrapper">
            <div class="button_list">
                @for (int pageIndex = 1; pageIndex <= maxPages; pageIndex++)
                {
                    if (pageIndex != currentPage)
                    {
                        <a class="button_item" href="@Url.Action("Index", new { path = relativeDirectory, page = pageIndex, filter = filter })">@pageIndex</a>
                    }
                    else
                    {
                        <div class="button_item-current">@pageIndex</div>
                    }
                }
            </div>
            <div>
                @maxPages Pages total
            </div>
        </div>
    }
</div>